<%- include('../common/head.ejs') %>
   <%- include('../common/nav.ejs')%>
   <div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1><%= productTitle %></h1>
            <% if (productsData.length) { %>
               <ul>
                   <% for (const product of productsData) { %>
                       <li>
                           <strong>Name:</strong> <%= product.name %><br>
                           <strong>Price:</strong> <%= product.price %><br>
                       </li>
                   <% } %>
               </ul>
           <% } else { %>
               <p>No products available</p>
           <% } %>
        </div>
    </div>
</div>
    <%- include('../common/footer.ejs') %>